*
!.gitignore

!Kbuild
!Makefile

!fns.h
!utils.h
!uthash.h
!control.h
!hookfns.h
!syshijack.h
!syscalls_hash.h
!unistd_32_hack.h
!control_ro_rw_syscall_table.h

!fns.c
!utils.c
!control.c
!hookfns.c
!syshijack.c
!syscalls_hash.c
!control_ro_rw_syscall_table.c