*
!.gitignore

!Kbuild
!Makefile

!linkerscript.ld

!main.h
!utils.h
!sct_hook.h
!unistd_32_hack.h

!main.c
!utils.c
!sct_hook.c

!/syscalls/
!syscalls/*
syscalls/*.cmd
syscalls/*.o
syscalls/everything.h