# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
*-build-*

Makefile
build

procmon/
!procmon/extconf.rb
!procmon/lkm.c

procmon_kmodule/
!procmon_kmodule/hookfns.c
!procmon_kmodule/syshijack.c
!procmon_kmodule/syshijack.h
!procmon_kmodule/Makefile