# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
*-build-*

Makefile
build

procmonui/procmon
procmonui/Makefile
procmonui/ui_procmonui.h

lkm_loader/lkm_loader
lkm_loader/Makefile
